@font-face {
    font-family: NotoSansTraditional;
    src: url(fonts/NotoSansTRegular.otf);

}

@font-face {
    font-family: "Open Sans";
    src: url(fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto-Regular.ttf);
}


